

<div id="ageWrapper">
 <div id="agePopUp" class="abutton">
   <h2>Are you at least 21?</h2>

   
   <%= link_to "Yes", "/" %>
   
   <%= link_to "No", "https://worldcat.org/libraries" %>
   
 </div>


 
</div>

